@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: CyGrotesk-GrandDark;
}

.select-dropdown {
  appearance: none;
  background-color: white;
  background-image: url("/arrow-drop-down-big-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.05rem) center;
  background-size: 1.25rem;
  padding-left: 4.5rem;
  padding-right: 0;
}